@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    font-family: 'Indie Flower', cursive;
    color: #7f7f7f;
    /* background-color: #efefef; */
}

.page-container {
    height: 100%;
}

a, 
.links, 
button,
.button-left,
.button-right {
    display:flex;
    font-size: 40px;
    text-decoration: none;
}

/* .links,
.app-name-tiny,
.app-name-name,
.release,
.copyright,
.button-left,
.button-right {
    color: #7f7f7f;
} */

button {
    text-decoration: none;
    background: none;
	border: none;
    cursor: pointer;
	padding: 0;
}

.link-div {
    display:flex;
    justify-content: space-around;
}

.app-name-name {
    font-size: 100px;
    color: #8fdfff;
}

.app-name-tiny {
    font-size: 100px;
}

.center {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.left, .right {
    align-self: center;
}

.caro {
    display: flex;
    flex-direction: row;
}

.app-name-tiny {
    padding: 10px;
}

.release {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 50px;
}

.copyright {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    bottom: 0;
}

.repo-link {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    bottom: 0;
    font-size: 20px;
    text-decoration: underline;
}